@media (max-width: 1199px)
    .header
        .menu
            &_item
                padding: 0 15px    
            &_link
                font-size: 13px
    .promo
        padding: 100px 0 75px 0

        &_header 
            font-size: 50px
            
        &_subheader 
            font-size: 30px 

        &_descr 
            margin-bottom: 62px

    .reasons 

        padding: 50px 0 30px 0

        .title 
            font-size: 30px

        &_descr
            width: 300px

        &_block
            align-items: flex-start

    .mobile 

        &_item
            width: 300px

    .choose 

        &_bottom
            padding: 200px 0 50px 0 

    .require
        padding-top: 30px

        &_block
            width: 450px

    .map 

        &_subtitle
            margin-bottom: 200px

    .footer

        &_mobile
            flex-direction: column
            align-items: flex-end
        
        &_socials
            width: 25%

        &_links
            width: 50%

        &_mobile
            width: 25%

    // ===============

@media (max-width: 991px)
    .header
        
        .menu
            &_item
                padding: 0
                padding-right: 17px
            &_link
                font-size: 11px

        .subheader
            
            &_logo
                img
                    width: 100%

            &_official
                font-size: 11px
           
            &_phone
                font-size: 19px
 
            &_btn
                width: 150px
                height: 45px
                margin-top: 16px

    .promo
       
        &_header 
            font-size: 40px
               
        &_subheader 
            font-size: 25px

        &_descr 
            font-size: 15px

        &_btn 
            width: 250px
            height: 60px
            line-height: 60px
            
    .reasons 

        .title 
            font-size: 25px        
  
        &_block
            flex-direction: column
            align-items: center

        &_round
            margin: 0 0 20px 0
           
    .mobile 
        padding: 30px 0 40px

        .label
            margin-bottom: 20px

        .title
            margin: 20px 0
            font-size: 25px

        &_item
            width: 210px
            height: 240px
            padding: 50px 10px 0

        &_title
            font-size: 20px
   
    .choose 

        &_top_img
            width: 100%
           
    .require
        
        &_block
            width: 330px

    .footer

        &_links_secondary
            width: 368px
            
        &_mobile
            padding-right: 20px

@media (max-width: 767px)

    .header
        height: 40px

        nav
            border-bottom: 1px solid rgba(255,255,255,.4)
            height: 40px

            .hamburger
                display: block
            
        .menu
            flex-direction: column
            justify-content: space-around
            align-items: center
            position: fixed
            top: 0
            left: -100%
            width: 50%
            height: 50vh
            padding: 10px 0
            background-color: rgba(0,0,0,0.8)
            transition: 0.7s left

            &_active
                left: 0

            .menu_item
                padding: 0
                border: none
                width: 100%
                text-align: center
                padding: 5px 0

            .menu_link
                display: block
                width: 100%
            
            .menu_link:hover
                &:after
                    width: 0

        .subheader
            
            &_official
                display: none

            &_call
                display: none

            &_phone
                display: block
                text-align: center
                padding: 5px 0
                font-size: 18px

            &_btn.md
                display: none
            
            &_btn.sm
                display: block
                margin: 0 auto
                width: 130px
                height: 35px
                font-size: 12px

    .promo
        padding-bottom: 50px

        &_header
            font-size: 30px

        &_subheader
            font-size: 18px

        &_descr
            font-size: 13px
            margin-bottom: 40px

        &_btn
            width: 240px
            height: 57px
            line-height: 57px

    .reasons
        padding-bottom: 20px

        .title
            font-size: 22px
            margin-bottom: 20px

        &_block
            margin-bottom: 20px

        &_descr
            width: 400px

    .mobile

        &_item
            margin: 0 auto
            margin-bottom: 15px
            padding: 20px 10px 10px
            height: 150px

        &_img
            bottom: 40px

        &_title
            font-size: 15px
            line-height: 1.5em

    .choose
        &_top
            padding-top: 30px
        &_bottom
            padding-top: 180px
            padding-bottom: 30px

    .require
        &_title
            font-size: 20px
            padding-bottom: 20px
            margin-bottom: 0
            text-align: center

        &_block
            margin: 0 auto 30px auto
            width: 400px

    .map
        padding: 30px 0

        &_label
            margin-bottom: 22px

        &_title
            font-size: 25px
            margin-bottom: 15px

        &_subtitle
            font-size: 15px
            margin-bottom: 75px

        &_link
            font-size: 12px

    footer
        .footer_line
            width: 200px
            height: 2px
            margin-bottom: 25px
        
        .footer
            &_socials
                flex-direction: column
                align-items: center

            &_social
                margin-bottom: 10px

            &_links_main
                flex-direction: column
                align-items: center
                width: 200px

                a 
                    margin-bottom: 5px

                a:hover 
                    color: rgb(153, 153, 153)
                    transform: scale(1.0)

            &_links_secondary
                flex-direction: column
                align-items: center
                width: 200px

                a 
                    margin-bottom: 5px

            &_mobile
                a 
                    margin-bottom: 15px
    
    @media (max-width: 575px)

        .label
            width: 100px
            height: 20px
            line-height: 20px
            font-size: 9px

        .header
            height: 30px
            nav
                height: 30px

                .hamburger
                    width: 20px

                .hamburger_active
                    
                    span:last-child
                        transform: translateY(3.5px) rotate(45deg)

            .subheader
                top: 25px

                &_phone
                    font-size: 15px
                &_btn.sm
                    width: 100px
                    height: 25px
                    font-size: 9px
                    line-height: 25px
        
        .promo
            padding-bottom: 30px
            &_header
                font-size: 18px
                margin-top: 30px

            &_subheader
                font-size: 11px

            &_descr
                display: none

            &_btn
                width: 140px
                height: 30px
                font-size: 12px
                line-height: 30px
 
        .reasons
            padding: 20px 0

            .title
                font-size: 14px

            &_block
                margin-bottom: 10px

            &_round
                width: 75px
                height: 75px
                margin-bottom: 10px

                img
                    width: 70%
                    text-align: center

                img:last-child
                    margin-right: 2px


            &_descr
                width: 280px
                font-size: 12px
            &_title
                font-size: 14px

        .mobile
            padding: 20px 0

            .title
                font-size: 16px
            
            .subtitle
                display: none

            &_title
                font-size: 12px

        .choose

            .title
                font-size: 20px

            .subtitle
                font-size: 12px
                padding: 0 10px

            &_top
                padding: 20px 0 120px

                &_img
                    width: 85%
                    top: 151px
            &_bottom
                padding: 80px 0 20px

                &_text
                    font-size: 13px


        .require
            padding: 20px 0

            .title
                margin: 20px 0
                font-size: 22px

            &_block
                width: 300px
                margin: 15px 0

                ul 
                    margin-top: 10px

            &_title
                font-size: 18px
                padding-bottom: 10px
            
            &_list li
                font-size: 11px
                margin-bottom: 18px

            &_list li::before
                width: 21px
                height: 20px
                top: -4px

        .map
            padding: 20px 0

        footer
            padding: 20px 0

            .footer
                flex-direction: column
                margin-bottom: 0

                &_links
                    order: -1
                    width: 85%

                &_socials
                    flex-direction: row
                    justify-content: center
                    width: 85%
                    margin-bottom: 15px

                &_mobile
                    flex-direction: row
                    justify-content: center
                    width: 85%






            
           

    

    

    