@media (max-width: 1199px)
    .header
        .menu
            &_item
                padding: 0 15px    
            &_link
                font-size: 13px
    .promo
        padding: 100px 0 75px 0

        &_header 
            font-size: 50px
            
        &_subheader 
            font-size: 30px 

        &_descr 
            margin-bottom: 62px

    .reasons 

        padding: 50px 0 30px 0

        h2.title 
            font-size: 30px

        &_descr
            width: 300px

        &_block
            align-items: flex-start

    .mobile 

        &_item
            width: 300px

    .choose 

        &_bottom
            padding: 200px 0 50px 0 

    .require
        padding-top: 30px

        &_block
            width: 450px

    .map 

        &_subtitle
            margin-bottom: 200px

    .footer

        &_mobile
            flex-direction: column
            align-items: flex-end
        
        &_socials
            width: 25%

        &_links
            width: 50%

        &_mobile
            width: 25%

    // ===============

@media (max-width: 991px)
    .header
        
        .menu
            &_item
                padding: 0
                padding-right: 17px
            &_link
                font-size: 11px

        .subheader
            
            &_logo
                img
                    width: 100%

            &_official
                font-size: 11px
           
            &_phone
                font-size: 19px
 
            &_btn
                width: 150px
                height: 45px
                margin-top: 16px

    .promo
       
        &_header 
            font-size: 40px
            
            
        &_subheader 
            font-size: 25px

        &_descr 
            font-size: 15px

        &_btn 
            width: 250px
            height: 60px
            line-height: 60px
            
    .reasons 

        h2.title 
            font-size: 25px        
  
        &_block
            flex-direction: column
            align-items: center

        &_round
            margin: 0 0 20px 0
           
    .mobile 
        padding: 30px 0 40px

        .label
            margin-bottom: 20px

        .title
            margin: 20px 0
            font-size: 25px

        &_item
            width: 210px
            height: 240px
            padding: 50px 10px 0

        &_title
            font-size: 20px
   
    .choose 

        &_top_img
            width: 100%
           
    .require
        
        &_block
            width: 330px

    .footer

        &_links_secondary
            width: 368px
            
        &_mobile
            padding-right: 20px

@media (max-width: 767px)

    header
        nav
           height: 0
        .menu
            flex-direction: column
            justify-content: space-around
            align-items: center
            position: fixed
            top: 0
            left: -100%
            width: 50%
            height: 100vh
            padding: 10px 0
            background-color: rgba(0,0,0,0.8)
            transition: 0.7s left

            &_active
                left: 0

            .menu_item
                padding: 0
                border: none
            
           

    

    

    