
@import 'fonts'
@import 'variables'

// ====  General styles  ====

*
    font-family: $Roboto

a
    text-decoration: none

a, button
    cursor: pointer

ul
    list-style-type: none

body
    max-width: 1920px
    margin: 0 auto


@import 'media'




            
 

  


  

    


        
 
  

  


    
  





            
 


                

    
