@import 'fonts'
@import 'variables'
 

// ====  General styles  ====

*
    font-family: $Lato
    font-size: 18px

input:focus, textarea:focus, button:focus
    outline: none
    outline-offset: none

a
    text-decoration: none

a, button
    cursor: pointer

ul
    list-style-type: none

.divide
    background-color: $blue
    width: 73px
    height: 4px
    margin: 180px 0 33px

body
    max-width: 1400px
    width: 100%
    margin: 0 auto

.container
    max-width: 1170px
    width: 83.57142857142857%
    margin: 0 auto

// ==== Styles for sections ====

.header
    position: relative
    width: 100%
    max-width: 1400px
    padding-top: 6.444444rem
    padding-bottom: 10.2777rem

    .hamburger
        display: none
        position: absolute
        top: 35px
        right: 35px
        cursor: pointer
           
        span
            display: block
            width: 35px
            height: 3px
            margin-bottom: 6px
            background-color: $white
            z-index: 6
            transition: 0.5s all

    .hamburger_active
        
        span:first-child
            margin-bottom: 0
            transform: translateY(6px) rotate(-45deg)
        span:nth-child(2)
            margin-bottom: 0
            display: none
        span:last-child
            margin-bottom: 0
            transform: translateY(4px) rotate(45deg)

    .hamburger_scroll
        span
            background-color: #000

    .wrapper
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        overflow: hidden
        z-index: -1

        img
            width: 100%
            height: 100%
            position: absolute

        .slide_1
            top: 0
            right: -100%
        
        .slide_2
            top: 0
            right: 0
        
        .slide_3
            top: 0
            right: 100%


    &_nav
        display: flex
        justify-content: space-between
        align-items: center
        position: fixed
        top: 0
        width: inherit
        max-width: inherit
        margin: 0 auto
        box-sizing: border-box
        padding: 0 115px
        height: 116px
        z-index: 1
        background-color: transparent
 
    &_menu
        display: flex
        justify-content: space-between
        align-items: center
        width: 390px
    
    &_item

        &:hover          
            transform: scale(1.2)
            a
                color: $blue

        a 
            color: $white
            text-transform: uppercase
            font-weight: 700

    &_nav_scroll
        background-color: #fff

        a
            color: #000

    &_title     
        font-size: 68px
        color: $white
        font-weight: 700
        line-height: 1.2
        letter-spacing: 0.1rem
        width: 60%
        margin-bottom: 26px        

    &_subtitle
        font-family: $Merri
        color: $white
        margin-bottom: 35px
        

    &_btn
        border-width: 1px
        border-color: $white
        border-style: solid
        border-radius: 22px
        background-color: transparent
        width: 170px
        height: 44px   
        color: $white
        line-height: 0.267
        text-align: center       

        &:hover
            color: $blue
            transform: scale(1.2)
            border-color: $blue
    
    .arrow
        display: block
        position: absolute
        bottom: 40px
        padding: 0 5px
        cursor: pointer
       
        &:hover
            transform: scale(1.2)

    .arrow_left
        right: 164px

    .arrow_right
        right: 115px

.who
    padding: 99px 0 159px

    &_title  
        font-size: 36px
        color: rgb(52, 52, 52)
        font-weight: 700
        text-align: center
        margin-bottom: 39px

    &_text  
        font-family: $Merri
        color: rgb(151, 151, 151)
        line-height: 1.4
        text-align: center
        margin: 0 auto
        width: 60%

.quotes
    background: url('../img/bg/bg_client.jpg') center center/cover no-repeat
    padding: 113px 0 30px

    .quote
        position: relative
        width: 60%
        margin: 0 auto
        color: $white
        line-height: 1.4
        text-align: center

        &_text
            font-family: $Merri
            margin-bottom: 20px

        &_author
            font-family: $Merri
            text-align: center
            margin-bottom: 70px

        &_img
            position: absolute
            top: -113px
            left: 50%
            transform: translate(-50%, -50%)

    .paginator
        display: flex
        justify-content: space-between
        margin: 0 auto
        width: 78px

        .circle
            width: 12px
            height: 12px
            border-radius: 50%
            background-color: $white
            cursor: pointer
            &:hover
                transform: scale(1.3333)

.services
    padding: 100px 0 40px

    &_title
        font-weight: 700
        font-size: 36px
        color: rgb(52, 52, 52)
        text-align: center
        margin-bottom: 35px

    &_text
        width: 70%
        margin: 0 auto 100px auto
        font-family: $Merri
        font-weight: 400  
        color: rgb(151, 151, 151)
        line-height: 1.4
        text-align: center

    &_block
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: center
       

        .item
            width: 32.4%
            margin-bottom: 60px
            margin-right: 10px

            &_img
                display: block
                margin: 0 auto
                margin-bottom: 35px

            &_title         
                font-size: 17px
                font-family: $Merri
                color: rgb(151, 151, 151)
                text-align: center
                margin-bottom: 25px

            &_descr
                height: 65px
                overflow: hidden
                font-size: 14px
                letter-spacing: 0.02em
                font-family: $Roboto
                color: rgb(132, 132, 132)
                line-height: 1.2
                text-align: center

.study

    .container
        display: flex
        justify-content: space-between

        .text
            width: 460 / 1170 * 100%

            .divide
                margin: 122px 0 57px

        .video
            width: 675 / 1170 * 100%
            position: relative

    &_title
        width: 290px
        font-size: 36px
        color: rgb(52, 52, 52)
        font-weight: 700
        line-height: 1.2
        text-align: left
        margin-bottom: 40px

    &_descr
        width: 100%
        font-family: $Merri
        color: rgb(151, 151, 151)
        line-height: 1.2
        text-align: left

    &_img
        width: 100%
        background-color: rgb(221, 221, 221)
        box-shadow: 0px 0px 65px 0px rgba(52, 52, 52, 0.15)
 
    &_play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        cursor: pointer

.portfolio
    padding: 100px 0 

    &_title
        font-weight: 700     
        font-size: 36px
        color: rgb(52, 52, 52)
        text-align: center
        margin-bottom: 42px
 
    &_descr
        margin: 0 auto 55px auto
        font-family: $Merri
        font-weight: 400
        width: 60%     
        color: rgb(151, 151, 151)
        line-height: 1.2
        text-align: center

    .block
        width: 100%

        
        &_top
            display: flex
            justify-content: space-between
            margin-bottom: 20px
            
            

        &_left
            width: 68.1%
            margin-right: 2%
            img
                width: 100%
            img:first-child
                margin-bottom: 2.5%
            img:nth-child(2) 
                width: 48.2%
                margin-right: 3.5%
            img:last-child
                width: 48.2%

        &_right 
            width: 32.5%
            height: 50.97008547008547%

            img
                width: 100%

            img.hidden
                display: none

        &_bottom

            img:first-child
                margin-right: 2%
                width: 32%
            img:last-child
                width: 66%

.clients
    padding: 105px 0 100px
    background: url('../img/bg/bg_our_clients.jpg') center center/cover no-repeat
    
    &_title        
        font-size: 36px
        font-weight: 700
        color: rgb(255, 255, 255)
        font-weight: bold
        text-align: center
        margin-bottom: 40px

    &_text
        width: 60%
        margin: 0 auto 82px auto
        font-family: $Merri    
        color: rgb(255, 255, 255)
        line-height: 1.2
        text-align: center
  
    &_img
        width: 100%

.team
    padding: 100px 0
    &_title    
        font-size: 36px
        color: rgb(52, 52, 52)
        font-weight: 700
        text-align: center
        margin-bottom: 25px
    &_text   
        font-family: $Merri
        color: rgb(151, 151, 151)
        line-height: 1.2
        text-align: center
        margin-bottom: 50px
    &_block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &_img
        margin: 0 auto 19px auto
       

        img
            width: 100%


    &_name        
        color: rgb(134, 134, 134)
        text-align: center
        margin-bottom: 5px
    &_proffesional     
        color: rgb(134, 134, 134)
        text-align: center
    &_item
        padding-right: 25px
        flex-basis: 23%
    &_item:last-child
        padding-right: 0

.map
    position: relative
    height: 513px
    background-color: #777777
    .location
    .indicator
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 19px
        height: 19px
        background-color: $blue
        border-radius: 50%
        border: 15px solid #fff

.contacts
    padding: 64px 0

    &_title
        margin-bottom: 50px  
        font-size: 36px
        color: rgb(52, 52, 52)
        font-weight: 700
        text-align: center

    form
        width: 585px
        margin: 0 auto
        
        
        
        fieldset
            padding: 0
            padding-inline-start: 0
            padding-inline-end: 0
            padding-block-end: 0
            border: none

            input
                width: 251px
                height: 44px
                margin: 0 27px 20px 0 
                padding: 2px 0 2px 20px        
                border: 1px solid rgb(134, 134, 134)
                border-radius: 3px         
                color: rgb(134, 134, 134)

            input:nth-child(2)
                margin-right: 0
            input:nth-child(4)
                margin-right: 0
        textarea
            display: block
            width: 100%
            height: 100px
            box-sizing: border-box
            padding: 20px 0 2px 20px
            margin-bottom: 50px
            border-width: 1px
            border-color: rgb(134, 134, 134)
            border-style: solid
            border-radius: 3px
            color: rgb(134, 134, 134)
            resize: none
    &_btn
        display: block
        margin: 0 auto
        color: $white
        text-align: center
        background-color: $blue
        width: 228px
        height: 46px
        border: 0
        border-radius: 16px
        cursor: pointer

.footer
    padding: 32px 0
    background-color: rgb(52, 52, 52)

    .container
        display: flex
        justify-content: space-between
        align-items: center

        ul 
            display: flex
            justify-content: space-between
            align-items: center
            width: 360px

            li:hover 
                transform: scale(1.1)

                a           
                    color: $blue   

            a
                color: $white
                text-transform: uppercase 
            

        .social
            display: flex
            justify-content: space-between
            align-items: center
            width: 180px

            a
                color: $white 

            &_icon::before
                font-size: 28px
    
            .icon-facebook:before
                content: "\ea90"
                  
            .icon-twitter:before
                content: "\ea96" 

            .icon-google-plus:before
                content: "\ea8b" 

@import 'media'
 
