
// ==== Fonts ====

@font-face {
    font-family: 'Roboto_Regular';
    src: url(../fonts/Roboto-Regular.eot),
         url(../fonts/Roboto-Regular.ttf),
         url(../fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: 'Roboto_Light';
    src: url(../fonts/Roboto-Light.eot),
         url(../fonts/Roboto-Light.ttf),
         url(../fonts/Roboto-Light.woff);
}

@font-face {
    font-family: 'Roboto_Bold';
    src: url(../fonts/Roboto-Bold.eot),
         url(../fonts/Roboto-Bold.ttf),
         url(../fonts/Roboto-Bold.woff);
}

@font-face {
    font-family: 'Roboto_Thin';
    src: url(../fonts/Roboto-Thin.eot),
         url(../fonts/Roboto-Thin.ttf),
         url(../fonts/Roboto-Thin.woff);
}

// === Variables ===

@Roboto_Regular: 'Roboto_Refular', Arial, sans-serif;
@Roboto_Light: 'Roboto_Light', Arial, sans-serif;
@Roboto_Bold: 'Roboto_Bold', Arial, sans-serif;
@Roboto_Thin: 'Roboto_Thin', Arial, sans-serif;

// =================









