doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Uber")
    meta(name="author" content="Melnikov Sergey")
    title UBER course
    link(rel="stylesheet" href="css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
body
    header
        nav
            .container
                ul.menu
                    li.menu_item
                        a.menu_link(href="#") Главная
                    li.menu_item
                        a.menu_link(href="#") Со своим автомобилем
                    li.menu_item
                        a.menu_link(href="#") На автомобиле компании
                    li.menu_item
                        a.menu_link(href="#") Требования
                    li.menu_item
                        a.menu_link(href="#") Контакты
                    li.menu_item
                        a.menu_link(href="#") Оставить заявку
        .subheader
            .container
                .row
                    .col-md-4.offset-md-1
                        a.subheader_logo(href="#") 
                            img.subheader_logo(src="img/logo.png", alt="Logo")
                        .subheader_official Официальный партнер Uber в Москве
                    .col-md-2.offset-md-2
                        .subheader_call Звоните нам ежедневно
                        a.subheader_phone(href="tel:+74957970988") 8 495 797 09 88
                    .col-md-2
                        button.subheader_btn заказать звонок
    section.promo
        .container
            .row
                .col-md-10.offset-md-1
                    h1.promo_header КОМПАНИЯ UBER PARTNERS
                    h2.promo_subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
                    p.promo_descr Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.<br><br>Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас зарабатывают от 80000- 120000 в месяц.
                    button.promo_btn ОТПРАВИТЬ ЗАЯВКУ!

    section.reasons
        .container
            .label преимущества
            h2.title 8 причин начать работать с нами
            .row
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_1.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Никаких наличных, оплата происходит автоматически
                            p.reasons_text Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_2.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Комиссия 8% + БОНУСЫ
                            p.reasons_text У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_3.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Высокий доход с гарантированными выплатами
                            p.reasons_text Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_4.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Работа в удобное время, никаких графиков
                            p.reasons_text Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! 
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_5.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Комфортное, прозрачное и простое подключение
                            p.reasons_text Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_6.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Всегда большое количество заказов
                            p.reasons_text Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_7.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Круглосуточная поддержка
                            p.reasons_text В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_8.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Без шашечек и наклеек
                            p.reasons_text Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.
    section.mobile
        .container
            .label Возможности
            h2.title мобильное приложение убер
            .subtitle Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон
            .row
                .col-md-4
                    .mobile_item.mobile_item_1
                        h2.mobile_title оформление заказа одним касанием
                        .mobile_img              
                .col-md-4
                    .mobile_item.mobile_item_2
                        h2.mobile_title надежная подача
                        .mobile_img      
                .col-md-4
                    .mobile_item.mobile_item_3
                        h2.mobile_title прозрачные цены
                        .mobile_img    
                .col-md-4
                    .mobile_item.mobile_item_4
                        h2.mobile_title безналичная оплата
                        .mobile_img   
                .col-md-4
                    .mobile_item.mobile_item_5
                        h2.mobile_title обратная связь
                        .mobile_img   
                .col-md-4
                    .mobile_item.mobile_item_6
                        h2.mobile_title разделить стоимость поездки
                        .mobile_img
                            
    section.choose
        .choose_top
            .label Возможности
            h2.title Выбор - отличная штука!
            .subtitle Закажите автомобиль, который подходит вам по стилю и бюджету
            img.choose_top_img(src="img/car.png", alt="car")
        .choose_bottom
            .choose_bottom_text Машины на каждый день.<br>Лучше, быстрее и дешевле, чем такси
    section.require
        .container
            .label Возможности
            h2.title условия и требования
            .row
                .col-md-6
                    .require_block
                        .require_title УСЛОВИЯ: со своим авто:
                        ul.require_list
                            li Подключаем к системе UBER  под 10%.
                            li Ни каких взносов  0%!
                            li Можем подключать удаленно без приезда в офис
                            li ИП не требуется
                            li Заказы распределяются без учета рейтинга ближай-<wbr>шим водителям
                            li Работа только по безналичному расчету
                            li Деньги перечисляем на карту водителю или наличны-<br>ми в офисе
                        .require_descr В день заработок составляет 7000-12000р + бонус 3000т рублей
                .col-md-6
                    .require_block
                        .require_title УСЛОВИЯ: на авто компании:
                        ul.require_list
                            li Предоставляем авто без залога
                            li Без ежедневных выплат по аренде
                            li Среда пятница и суббота работа на компанию осталь<br>ные дни вы работаете на себя
                .col-md-6
                    .require_block.warning
                        .require_title ТРЕБОВАНИЕ:
                        ul.require_list
                            li Наличие автомобиля без рекламы
                            li Автомобиль не должен быть желтый и не с желтыми номерами
                            li Машина не старше 3 лет
                            li Стаж вождения не менее 3 лет
                            li Дивайс на системе андроид 4.0и выше(самсунг)
                .col-md-6
                    .require_block.warning
                        .require_title ДОКУМЕНТЫ:
                        ul.require_list
                            li Права 2 стороны
                            li Паспорт лицевая сторона
                            li СтС
                            li Лицензия( если есть)
                            li Номер телефона
                            li Номер карты для перечисления денег(указать в письме)!
    section.map
        .map_label города
        h2.map_title По всему миру
        .map_subtitle Мы в вашем городе и по всему миру
        a.map_link(href="#") посмотреть все города 
    
    footer.footer
        .footer_container
            .footer_line
            .footer_block
                .footer_socials
                    .footer_social.fb
                        a(href="#")
                            img(src="/icon/footer_fb.png", alt="facebook")
                    .footer_social.tw
                        a(href="#")
                            img(src="/icon/footer_tw.png", alt="twitter")
                    .footer_social.ln
                        a(href="#")
                            img(src="/icon/footer_ln.png", alt="LinkedIn")
                    .footer_social.insta
                        a(href="#")
                            img(src="/icon/footer_insta.png", alt="instagram")
                .footer_links
                    .footer_links_main
                        a(href="#") на главную
                        a(href="#") города
                        a(href="#") для водителей
                    .footer_links_secondary
                        a(href="#") центр поддержки
                        a(href="#") вакансии
                        a(href="#") разработчики
                        a(href="#") блог
                        a(href="#") о нас
                .footer_store
                    a(href="#")
                        img(src="/icon/footer_appstore.jpg", alt="AppStore")
                    a(href="#")
                        img(src="/icon/footer_googleplay.jpg", alt="Google Play")
                    a(href="#")
                        img(src="/icon/footer_Windows_Store.jpg", alt="Windows Store")
            .footer_lang 
                a(href="#") русский


                    









                    
            





        
            
