doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Agency")
        meta(name="author" content="Melnikov Sergey")
        title Agency
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/font.css")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet", href="css/icon.css")
    body
        header.header#home
            .wrapper.slider
                .slider__track
                    img.slide.slide_1#slide_1(src="img/jpg/slider/slide_1.jpg", alt="slide")
                    img.slide.slide_2#slide_2(src="img/jpg/slider/slide_2.jpg", alt="slide")
                    img.slide.slide_3#slide_3(src="img/jpg/slider/slide_3.jpg", alt="slide")
            .header_nav#menu
                .header_logo
                    a(href="#")
                        img(src="img/logo.png", alt="")
                nav
                    ul.header_menu
                        li.header_item
                            a.header_link(href="#home") HOME
                        li.header_item
                            a.header_link(href="#portfolio") Portfolio
                        li.header_item
                            a.header_link(href="#about") ABOUT
                        li.header_item
                            a.header_link(href="#contacts") CONTACT
                .hamburger#hamburger
                    span
                    span
                    span
            .header__container
                .divide
                h1.header_title CODING FOR<br>BETTER TOMORROW
                h3.header_subtitle Project for Avocado
                button.header_btn Case Study
            span.icon-angle-left
            span.icon-angle-right
            //- img.arrow.arrow_left#about(src="icon/arrow_left.png", alt="arrow_left")
            //- img.arrow.arrow_right(src="icon/arrow_right.png", alt="arrow_right")
        section.who
            h2.title.who_title WHO WE ARE
            .who_text Small but very dedicated team, and we just love what we do! From wireframes, to photography, to backend, we are doing it all. Let’s make your dreams a reality!
        section.quotes
            .quotes__track
                .quote
                .quote
                    .quote_text “When it comes to coding, these guys deliver on the entire new level.I would highly recommend to anyone to work with them.”
                    .quote_author Jeff Mc Fairlane, Cusco
                    img.quote_img(src="img/jpg/client_img.png", alt="our_client")
                .quote
                    .quote_text “Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ad eligendi eius quas laudantium repellendus amet iste nam saepe harum!”
                    .quote_author Jeff Mc Fairlane, Cusco
                    img.quote_img(src="img/jpg/client_img.png", alt="our_client")
                .quote
                    .quote_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum est quas quisquam id aliquam reiciendis voluptates eos, voluptatem animi possimus obcaecati error? Deleniti soluta incidunt, non accusantium illo dignissimos earum, repudiandae adipisci, voluptates debitis autem corporis dolor ullam labore quisquam?.”
                    .quote_author Jeff Mc Fairlane, Cusco
                    img.quote_img(src="img/jpg/client_img.png", alt="our_client")
                
            .paginator
                .circle
                .circle
                .circle
                .circle
        section.services
            .container
                h2.title.services_title OUR SERVICES
                .services_text From photo retouching, to Wordpress development, we got you covered. Browse bellow for just some services we are offering.
                .services_block
                    .item
                        img.item_img(src="icon/services/icon_1.png", alt="icon")
                        .item_title Wireframing
                        .item_descr Developed by the Intel Corporation, HDCP stands for high-bandwidth digital content protection. As the descriptive name implies, HDCP is all about protecting the integrity of various audio and video content as it travels over a multiplicity of different types of interfaces. Such data interfaces as GVIF, DVI, and HDMI will all support the functionality of HDCP. Is HDCP Free? <br><br>No. HDCP requires an authorized license. The license can be obtained through Digital Content Protection, which is a subsidiary of Intel Corporation. Generally, the license can be obtained by filing an application and paying an annual fee. Once the application is accepted and the user agrees to the terms found in the licensing agreement, the right to make use of HDCP is granted. <br><br> What Are Some Of The Key Terms of Use For HDCP? <br><br> One key term has to do with the transmission of data to unauthorized receivers. That is, an HDCP protected video source is not allowed to transmit protected content to any receiver that has not be verified to be HDCP compliant. There is also a restriction on the quality of the content, making sure that the DVD-audio content is equal to or less than CD-audio quality on any non-HDCP digital audio outputs. The licensed operator also covenants to not use their equipment to produce copies of content, and also to make sure that original content is created within the confines of current content protection requirements. What Type of Devices Make Use of HDCP? <br><br> There are a number of different devices that make use of HDCP. DVD players are a common example, including systems that support high-definition DVD components. Blu-Ray discs are another example. Generally, it is possible for the manufacturer of the device to set what is known as an Image Constraint Token that will structure the type of output signal that can be read and translated. How Widespread Is The Use of HDCP? <br><br> Since 2004, HDCP has been widely used in the United States. Elsewhere, HDCP has also gained a firm hold. The European Industry Association for Information Systems has deemed HDCP as a required component on all HD ready European devices. The latest Microsoft operating system, Windows Vista, makes use of HDCP as part of the function of graphics cards and monitors.
                    .item
                        img.item_img(src="icon/services/icon_2.png", alt="icon")
                        .item_title Website Design
                        .item_descr Living in today’s metropolitan world of cellular phones, mobile computers and other high-tech gadgets is not just hectic but very impersonal. We make money and then invest our time and effort in making more money. Does it end? Not usually because we are never satisfied. How many times have we convinced ourselves that if only we had some more money, life would be so sweet? But then, after receiving a substantial raise, we realize that it wasn’t enough and that we need more? <br><br> What Should You Do? <br><br> I have read many books on life such as Robin Sharma’s Monk says this and the monk says that, and they all seem to say that money is not necessary. But it is. Can you do without cash and a lot of it? I know I can’t. So, I went to the neighbourhood Rabbi and asked for advice that will help me find my true way in life. The rabbi nodded and took me to the window. “What do you see?” he asked me. <br><br> Promptly, I answered, “I can see people walking to and fro and a blind man is begging for alms at the left corner.” <br><br> The Rabbi nodded and guided me to a big mirror. “Now look and tell me what you see?” <br><br> “I can see myself,” I man answered. <br><br> The Rabbi smiled. “Now you can’t see anyone else. The mirror and the window are both created from the same raw material: glass, but because on one of them they have applied a thin layer of silver, when you look at it all you can see is your own reflection.” <br><br> The Rabbi placed his arm on my shoulders. “Compare yourself to those two pieces of glass. Without the silver layer, you saw the other people and felt compassion for them. When you are covered with silver, you see only yourself.” <br><br> I looked at the Rabbi and stared. “I don’t understand.” <br><br> The Rabbi continued. “You will become someone only if have the courage to remove the silver covering over your eyes in order to again see and love others.” He patted me on my back and sent me on my way. <br><br> I have thought of what he said and come to the conclusion that he had a point. Yes. We need money and we should not aim to lead a moneyless existence; its pointless and will only cause us and our families many heartbreaks in the future. <br><br> Instead, I suggest that we should follow the advice the Rabbi gave me. When we approach life through a silver covering, all we are able to see is ourselves. But discard that covering, and you will be able to see and feel everyone else. <br><br> In life, we are allowed to and should be able to look at both kinds of mirrors, but we should remember that a mirror reflects only us; a window is the door to compassion, health and true wealth. In other words, seek wealth by all means, but don’t let it dissuade you from life, people, children and the poor and needy. 
                    .item
                        img.item_img(src="icon/services/icon_3.png", alt="icon")
                        .item_title Website Development
                        .item_descr According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement equipment market was $446.4 million in 2004 and is estimated to grow to $654.5 million by 2011. For over 50 years, companies and governments have procured used test and measurement instruments in order to realize a number of benefits including the need to: <br><br> – reduce equipment acquisition costs, <br><br> – replace discontinued testing instruments, <br><br> – circumvent lengthy new product delivery times, and <br><br> – conform to legacy standards and specifications. <br><br> Although there are many considerations when purchasing used test and measurement instruments, the quality of the instrument and reliability of the vendor should be at the top of the list. Used test equipment vendors deploy a number of bywords that represent the equipment they sell, including “refurbished”, “remarketed”, “reconditioned”, “rebuilt” and, the obvious, “used”. These marketing adjectives typically imply various quality processes and buyers of used test equipment should execute their due diligence prior to purchasing. <br><br> “Used” or “Remarketed” equipment often describes products sold with an “as-is” supposition. You might purchase used equipment from an end-user organization or auction company that is selling surplus assets. Products sold as “used” should be priced at the lower scale of the market spectrum and it is not uncommon for quality issues to arise with “used” equipment. It is likely that the instruments have not been tested and have an uncertain history. It is only prudent to purchase “Used” equipment if you have the in-house repair and calibration facilities/expertise and are able to procure the item at a cost low enough that the added expense of repair and calibration remains to be a positive, economical outcome. <br><br> “Refurbished and Reconditioned” are akin and are the most common presentment of used equipment from equipment dealers. Refurbished equipment is fully tested and calibrated to NIST standards to assure that they meet the original manufacturers’ specifications. Refurbished equipment should come with all standard accessories and operating manuals. Malfunctioning internal components will have been replaced or repaired and the product will have been cosmetically cared for including painting and the replacing of face plates, button and knobs. Refurbished equipment is typically sold with a 30-90 day parts/labor warranty and is priced in the middle to high-end of the market spectrum. <br><br> Finally, some vendors advertised “Rebuilt” test equipment. Many instrument options are field-installable and can be built-to-order according to the customer’s requirements. Some products can even be converted from one generation or version to the next by adding various components. There is absolutely nothing wrong with purchasing rebuilt equipment and, in fact, if you can not find the exact product configuration you are sourcing, you should ask qualified vendors about the possibility adding those options. As with used and refurbished equipment, always exercise caution in choosing a vendor. Assure that the vendor is qualified or uses a qualified electronics laboratory to repair, calibrate and rebuild the products you seek. <br><br> Purchasing used, refurbished or rebuilt electronic test equipment is a great way for organizations to save 30-70% on their asset acquisition costs. Warranties and guarantees from used test equipment vendors are formidable. In select product groups, the original equipment manufacturers offer extended warranties in partnership with the vendors that are the selling those products. <br><br> Exercise caution and perform due diligence on your vendors. It is most effective to first identify a qualified used equipment vendor and begin a supplier relationship, as opposed to sourcing each instrument you need individually. If your qualified vendor does not have what you are looking for in inventory, it is likely that they will be able to locate it within 24 hours. By first identifying and working with a select few vendors, you will assure consistent quality and economical pricing with every used test equipment purchase.
                    .item
                        img.item_img(src="icon/services/icon_4.png", alt="icon")
                        .item_title App Design
                        .item_descr Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization. Societies are becoming more inter-connected. Thoughts from different cultures are shared through the use of Internet chat rooms and web postings. Study results also track the most popular uses of the Internet: “this year’s study shows that e-mail is the top task conducted online, followed by general surfing, reading News, shopping, and seeking entertainment News.” (Chang Joshua (2005)) It can be summarized that the Internet is now being used for common, everyday tasks that would have normally taken more time to complete. Internet shopping is becoming popular amongst users in developed nations, as it is more efficient to ‘shop on the Internet’ than to go physically into the stores. The Internet provides a virtual environment where consumers’ demands are met with supplies. For example, research has shown that shopping on the Internet can result in lower search costs and better product selections. This is because the shopper has the ability to analyze prices from various stores without having to travel distances. The shopper can now shop online for goods that are for sale in a foreign nation, and rather than having to travel to the country to receive the goods, the consumer can order online and get it delivered efficiently. According to the Ernst and Young Survey (‘Internet Shopping’ 1998), prospective shoppers viewed price savings and selection as more important benefits than convenience, which was ranked third. However, using the Internet we have the capacity to achieve both, having the ability to offer shoppers convenience as well as better prices. <br><br> Not only has the Internet achieved a more equitable trading environment for consumers, it also gives us the potential to communicate more effectively and efficiently. For example, the cost of sending an email is generally cheaper than posting a letter in the mail, especially for people wishing to communicate internationally. Furthermore, an email can be sent immediately after it is written, and does not need to go through official procedures such as the Post Office and a mail box. The recipient of the email is able to access it from anywhere, as it is a virtual communication tool, as opposed to having a physical mail box where the letters are delivered. Thus, clearly, an Internet communication tool such as the Internet is extremely valuable, especially for travelers who need to be able to be interconnected with their ‘old’ lifestyle whilst journeying to experience foreign cultures. The power of the Internet not only extends to people who need the convenience of shopping, and to be able to easily communicate with associates and friends, but the Internet also provides an environment for News sharing and encourages people to be updated with the News. Unfortunately, as there currently isn’t any appropriate ‘virtual filtering system’ software out there, although there are many News articles available, they are from the perspective of international media institutions. However, the Internet is constantly changing and is becoming more accommodating to the individual as opposed to just catering to international corporations. Many academics believe that the Internet is a form of communication for people who want to express their own opinions and who don’t want to be repressed by the wealthy, whom are often seen as domineering as they hold too much power in a capitalist society. Furthermore, many teenagers would also confirm that they have had many positive experiences with the Internet as they believe it is a place for them to ‘escape’ from the pressures of reality and enjoy the entertainment that this system has the ability to provide. Computer games, although some would argue that they actually distract people from reality, provide the opportunity for individuals to express creativity and challenge themselves. Interactive computer games provide an environment where individuals are allowed to explore foreign surroundings and take risks that will result in no harm to the game player. The Internet appeals to the younger generation not only because of entertainment purposes, but young academics have also agreed that the Internet creates convenience to research and university students. This is because many different articles can be found on a specific topic, and not only is the opinions of academics read, but people with unique experiences and in different professions are also heard and critically analyzed. Being an academic myself, I strongly believe that the Internet provides a great environment where people are allowed to share their thoughts and beliefs whilst remaining anonymous. In conclusion, popular uses of the Internet have largely contributed to the advancement of society. More people are now turning to this phenomenon in order to have an efficient lifestyle where the maximum number of tasks can be achieved everyday. Although some would argue that people are becoming too reliant on the Internet, others would argue that it is a freedom of choice and it is the individuals’ choice to be able to choose how much they should be using the Internet per day, and on how dependent they want to be. Ultimately, the Internet is a tool that is effective when used appropriately and effectively and it is at the discretion of the individual. As quoted by Schipper, “the Internet is a tool that has both good and bad sides; let’s weed out the bad ones.” <br><br> Bibliography: <br><br> Ernst and Young (2000) ‘Global Online Retailing’ survey, Stores, Section 2, January <br><br> Chang Joshua (2005) ‘Online Shopping: Advantages over the offline alternative.’ [Online] http://www.arraydev.com/commerce/JIBC/0311-07.htm <br><br> Schipper George (2005) ‘WI on Globalization’ [Online] <br><br> http://www.wupperinst.org/globalisation/html/lit_global.html
                    .item
                        img.item_img(src="icon/services/icon_5.png", alt="icon")
                        .item_title App Development
                        .item_descr Large businesses require a lot of IT infrastructure and a department to look after it. Small businesses often can’t afford to have that sort of internal support in place, yet they need fully operational IT systems in order for the business to run properly. For businesses like these, external IT support can be a cost-effective yet vital resource. <br><br> 1. Avoid IT salary bills <br><br> Even one experienced, trained IT professional can cost a lot of money. Paying a salary, tax, National Insurance, pension and any other benefits can make a big difference to your bottom line. For small businesses, there just isn’t enough IT requirement to justify employing someone to run the system full-time. Instead, put your money towards your business, and pay a lot less for an external IT professional to help you when you need it. <br><br> 2. Online and telephone support <br><br> If you haven’t got support in the office, you need to know that there’s someone on the end of the phone that can help with any IT problems that arise. Most IT support firms offer phone and online support and, because many problems can be sorted out over the phone, you won’t have to wait for an engineer to come out to your office. <br><br> 3. Security <br><br> Some of the most important parts of your IT system are the ones that protect you from fraud, virus or other harm. Any software that’s protecting your system needs checking and updating on a regular basis, to make sure that your business is secure. Rather than scheduling this in for someone in your office to do, it’s much easier to arrange for an external IT company to come in to your office on an agreed timetable to keep your IT security up-to-date. <br><br> Using IT support has many benefits, but for small businesses, the most important thing is that external IT support allows you to concentrate on your business, whilst retaining confidence in your IT systems – and at a much lower cost than employing your own IT expert.
                    .item
                        img.item_img(src="icon/services/icon_6.png", alt="icon")
                        .item_title Photography
                        .item_descr All the rumors have finally died down and many skeptics have tightened their lips, the iPod does support video format now on its fifth generation. While the iPod is not the first to come up with this, it has certainly made its stature as the greatest in the market and can be dubbed as the best multimedia portable player available. <br><br> With its popularity and iconesque standing, the iPod has made sharing videos easier. You don’t need to be lugging around different equipments for your music, your notes, your photos and your videos. You can have the standard where every other portable multimedia players are gauged to and not need anything else. Video playback capabilities have made it a complete multi media equipment, but not all formats are supported just yet. So if you want to put your videos in your iPod you have to make sure that they are in a supported format. <br><br> But don’t worry, you can convert your videos into the supported format so you can still upload and watch it in your iPod video. All it takes is a special software that is programmed to do the conversion act. This is a program generally dubbed as a video converter for the iPod. <br><br> The Converter iPod Video is a very good video converter suitable for your iPod and its needs. It offers a simple and comprehensive way on how to convert all of the popular video formats to iPod video, like transforming AVI to iPod, Mpeg to iPod and WMV to iPod. Not only that, this also features the ability to transfer audio files with WAV, MP2 etc. to iPod supported with mp3 configurations. All the conversions procedures are very speedy and simple to do. And the product of this video conversion is supported by the iPod system requirements and configurations so you can enjoy watching your favorite movies, home movies, music videos and whatever it is you desire on your iPod player. There are numerous converters for the iPod video available in the internet. Each of them offers their own special features for a minimal price. The following are some of the general features of a converter video iPod which all of the iPod enthusiasts and fanatics should know: <br><br> 1. This software has the capacity to transfer AVI in to the iPod file. <br><br> You are able to convert AVI to iPod format that is supported by the video file. There are many set ups which you can use to attain an excellent video and audio quality. <br><br> 2. The software is also capable of WMV conversion <br><br> The converter iPod video is a WMV converter too that makes it possible to transfer WMV to iPod. <br><br> 3. It can transfer mpeg, mov, mp4 and asf file <br><br> The converter ipod video is also mpeg and mp4 converter. It has the ability to transfer mpeg file, mp4 and asf into the iPod. This software supports all famous formats to iPod and removing audio from video and transfer it to iPod supported mp3 file format. There are also many settings that can be used to attain an excellent quality of conversion. <br><br> 4. This software also supports batch conversion <br><br> By simply choosing the files that you want to transfer, the converter iPod video will automatically program those, regardless even if the files have a different format. <br><br> 5. It is also is preview-supported <br><br> The user has the option to preview the input files before converting. <br><br> 6. It can also convert clips and segments <br><br> The software allows the user to choose the start point and intervals from a whole file. <br><br> 7. It has a first class quality result <br><br> You can get high quality videos and not lose any of the quality in the process of conversion. <br><br> Many of these softwares are available for a free trial period. You can check out which one would be best suitable for you and your video conversion needs. As soon as you have tried them out, you can finally choose which one to buy and get full access to the other features.
        section.study
            .container
                .text
                    .divide
                    h2.title.study_title ARIORI STUDIO CASE STUDY
                    .study_descr#portfolio How me made history with Ariori Studio
                .video
                    img.study_img(src="img/jpg/video.jpg", alt="video")
                    img.study_play(src="icon/play.png", alt="play")
        section.portfolio
            .container
                .text
                    h2.title.portfolio_title OUR PORTFOLIO
                    .portfolio_descr Small but very dedicated team, and we just love what we do! From wireframes, to photography, to backend, we are doing it all. <br> Check out our work!
                .block
                    .block_top
                        .block_left
                            img.portfolio_img(src="img/jpg/portfolio/img_1.jpg", alt="portfolio")
                            img.portfolio_img(src="img/jpg/portfolio/img_3.jpg", alt="portfolio")
                            img.portfolio_img(src="img/jpg/portfolio/img_4.jpg", alt="portfolio")
                        .block_right
                            img.portfolio_img(src="img/jpg/portfolio/img_2.jpg", alt="portfolio")
                            img.portfolio_img.hidden.up(src="img/jpg/portfolio/img_5.jpg", alt="portfolio")
                            img.portfolio_img.hidden.down(src="img/jpg/portfolio/img_3.jpg", alt="portfolio")
                    .block_bottom
                        img.portfolio_img(src="img/jpg/portfolio/img_5.jpg", alt="portfolio")
                        img.portfolio_img(src="img/jpg/portfolio/img_6.jpg", alt="portfolio")
        section.clients
            .container
                h2.title.clients_title OUR CLIENTS
                .clients_text Just some of our awesome clients tat we had pleasure to work with. Will your logo be here as well?
                img.clients_img(src="img/jpg/logos.png", alt="clients")
        section.team
            .container
                h2.title.team_title MEET OUR TEAM
                .team_text These lovely people will make your dreams come true
                .team_block
                    .team_item
                        .team_img
                            img(src="img/jpg/team/img_1.jpg", alt="team")
                        .team_name Martin Brown
                        .team_proffesional  Founder &amp; CEO
                    .team_item
                        .team_img
                            img(src="img/jpg/team/img_2.jpg", alt="team")
                        .team_name Anna Stone 
                        .team_proffesional Web Designer
                    .team_item
                        .team_img
                            img(src="img/jpg/team/img_3.jpg", alt="team")
                        .team_name Andrew Maxwell 
                        .team_proffesional Web Developer
                    .team_item
                        .team_img
                            img(src="img/jpg/team/img_4.jpg", alt="team")
                        .team_name Merry Anne
                        .team_proffesional  Page Photographer
        section.map
            .location
            .indicator
        section.contacts#contacts
            h2.title.contacts_title CONTACT US
            form.contact(action="get")
                fieldset
                    input(type="text" placeholder='First Name') 
                    input(type="text" placeholder='Last Name')
                    input(type="text" placeholder='Your Email') 
                    input(type="text" placeholder='Your Website') 
                    textarea(name="message", cols="30", rows="10" placeholder='Your Message')
                button.contacts_btn Send Message
        footer.footer
            .container
                .footer_menu
                    ul
                        li.footer_item
                            a.footer_link(href="#home") HOME
                        li.footer_item
                            a.footer_link(href="#portfolio") portfolio
                        li.footer_item
                            a.footer_link(href="#about") ABOUT
                        li.footer_item
                            a.footer_link(href="#contacts") CONTACT
                .social
                    a(href="facebook.com")
                        .social_icon.icon-facebook
                    a(href="twitter.com")
                        .social_icon.icon-twitter
                    a(href="googleplus.com")
                        .social_icon.icon-google-plus

        script(src='js/jquery.min.js')
        script(src='js/script.js')
