doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Agency")
        meta(name="author" content="Melnikov Sergey")
        title Agency
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/main.css")
    body
        
        script(src='js/script.js')
