doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Uber")
        meta(name="author" content="Melnikov Sergey")
        title UBER course
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/normalize-min.css")
        link(rel="stylesheet" href="css/main.css")
    body
        header.header
            nav
                .wrapper
                    ul.menu
                        li.menu_item
                            a.menu_link(href="#") Главная
                        li.menu_item
                            a.menu_link(href="#") Со своим автомобилем
                        li.menu_item
                            a.menu_link(href="#") На автомобиле компании
                        li.menu_item
                            a.menu_link(href="#") Требования
                        li.menu_item
                            a.menu_link(href="#") Контакты
                        li.menu_item
                            a.menu_link(href="#") Оставить заявку
                .hamburger
                    span
                    span
                    span
            .subheader
                .container
                    .row
                        .col-10.offset-1.col-sm-6.col-md-4.offset-md-1
                            a.subheader_logo(href="#") 
                                img.subheader_logo(src="img/logo.png", alt="Logo")
                            .subheader_official Официальный партнер Uber в Москве
                        .col-sm-5.col-md-3.offset-md-1.col-xl-2.offset-xl-2
                            .subheader_call Звоните нам ежедневно
                            a.subheader_phone(href="tel:+74957970988") 8 495 797 09 88
                            button.subheader_btn.sm заказать звонок
                        .col-md-3.col-lg-2
                            button.subheader_btn.md заказать звонок
        section.promo
            .container
                .row
                    .col-md-12.col-lg-10.offset-lg-1
                        h1.promo_header КОМПАНИЯ UBER PARTNERS
                        h2.promo_subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
                        p.promo_descr Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.<br><br>Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас зарабатывают от 80000- 120000 в месяц.
                        button.promo_btn ОТПРАВИТЬ ЗАЯВКУ!
        section.reasons
            .container
                .label преимущества
                h2.title 8 причин начать работать с нами
                .row
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_1.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Никаких наличных, оплата происходит автоматически
                                p.reasons_text Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_2.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Комиссия 8% + БОНУСЫ
                                p.reasons_text У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_3.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Высокий доход с гарантированными выплатами
                                p.reasons_text Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_4.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Работа в удобное время, никаких графиков
                                p.reasons_text Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! 
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_5.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Комфортное, прозрачное и простое подключение
                                p.reasons_text Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_6.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Всегда большое количество заказов
                                p.reasons_text Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_7.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Круглосуточная поддержка
                                p.reasons_text В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.
                    .col-md-6
                        .reasons_block
                            .reasons_round
                                img(src="icon/reasons/icon_8.png", alt="icon")
                            .reasons_descr
                                h3.reasons_title Без шашечек и наклеек
                                p.reasons_text Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.
        section.mobile
            .container
                .label Возможности
                h2.title мобильное приложение убер
                .subtitle Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон
                .row
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_1
                            h2.mobile_title оформление заказа одним касанием
                            .mobile_img              
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_2
                            h2.mobile_title надежная подача
                            .mobile_img      
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_3
                            h2.mobile_title прозрачные цены
                            .mobile_img    
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_4
                            h2.mobile_title безналичная оплата
                            .mobile_img   
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_5
                            h2.mobile_title обратная связь
                            .mobile_img   
                    .col-sm-12.col-md-4
                        .mobile_item.mobile_item_6
                            h2.mobile_title разделить стоимость поездки
                            .mobile_img                       
        section.choose
            .choose_top
                .label Возможности
                h2.title Выбор - отличная штука!
                .subtitle Закажите автомобиль, который подходит вам по стилю и бюджету
                img.choose_top_img(src="img/car.png", alt="car")
            .choose_bottom
                .choose_bottom_text Машины на каждый день.<br>Лучше, быстрее и дешевле, чем такси
        section.require
            .container
                .label Возможности
                h2.title условия и требования
                .row
                    .col-md-6
                        .require_block
                            .require_title УСЛОВИЯ: со своим авто:
                            ul.require_list
                                li Подключаем к системе UBER  под 10%.
                                li Ни каких взносов  0%!
                                li Можем подключать удаленно без приезда в офис
                                li ИП не требуется
                                li Заказы распределяются без учета рейтинга ближай-<wbr>шим водителям
                                li Работа только по безналичному расчету
                                li Деньги перечисляем на карту водителю или наличны-<br>ми в офисе
                            .require_descr В день заработок составляет 7000-12000р + бонус 3000т рублей
                    .col-md-6
                        .require_block
                            .require_title УСЛОВИЯ: на авто компании:
                            ul.require_list
                                li Предоставляем авто без залога
                                li Без ежедневных выплат по аренде
                                li Среда пятница и суббота работа на компанию осталь<br>ные дни вы работаете на себя
                    .col-md-6
                        .require_block.warning
                            .require_title ТРЕБОВАНИЕ:
                            ul.require_list
                                li Наличие автомобиля без рекламы
                                li Автомобиль не должен быть желтый и не с желтыми номерами
                                li Машина не старше 3 лет
                                li Стаж вождения не менее 3 лет
                                li Дивайс на системе андроид 4.0и выше(самсунг)
                    .col-md-6
                        .require_block.warning
                            .require_title ДОКУМЕНТЫ:
                            ul.require_list
                                li Права 2 стороны
                                li Паспорт лицевая сторона
                                li СтС
                                li Лицензия( если есть)
                                li Номер телефона
                                li Номер карты для перечисления денег(указать в письме)!
        section.map
            .map_label города
            h2.map_title По всему миру
            .map_subtitle Мы в вашем городе и по всему миру
            a.map_link(href="#") посмотреть все города 
        footer
            .footer_line
            .footer
                .footer_socials
                    .footer_social.fb
                        a(href="#")
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="32" fill="white" viewBox="0 0 32 32">
                                <title>facebook</title>
                                <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
                            </svg>  
                    .footer_social.tw
                        a(href="#")
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="32" fill="white" viewBox="0 0 32 32">
                                <title>twitter</title>
                                <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
                            </svg>        
                    .footer_social.ln
                        a(href="#")
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="32" fill="white" viewBox="0 0 32 32">
                                <title>linkedin</title>
                                <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 26h-4v-14h4v14zM10 10c-1.106 0-2-0.894-2-2s0.894-2 2-2c1.106 0 2 0.894 2 2s-0.894 2-2 2zM26 26h-4v-8c0-1.106-0.894-2-2-2s-2 0.894-2 2v8h-4v-14h4v2.481c0.825-1.131 2.087-2.481 3.5-2.481 2.488 0 4.5 2.238 4.5 5v9z"></path>
                            </svg>       
                    .footer_social.insta
                        a(href="#")
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="32" fill="white" viewBox="0 0 32 32">
                                <title>instagram</title>
                                <path d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0z"></path>
                                <path d="M16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331z"></path>
                                <path d="M26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
                            </svg> 
                .footer_links
                    .footer_links_main
                        a(href="#") на главную
                        a(href="#") города
                        a(href="#") для водителей
                    .footer_links_secondary
                        a(href="#") центр поддержки
                        a(href="#") вакансии
                        a(href="#") разработчики
                        a(href="#") блог
                        a(href="#") о нас
                .footer_mobile
                    a(href="#")
                        img(src="icon/Footer_AppStore.jpg", alt="AppStore")
                    a(href="#")
                        img(src="icon/Footer_GooglePlay.jpg", alt="Google Play")
                    a(href="#")
                        img(src="icon/Footer_Windows_Store.jpg", alt="Windows Store")
            .footer_lang 
                a(href="#") русский
        script(src='js/script.js')
