doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title Ave
    link(rel="stylesheet", href="bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")
body
    