doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Clothing store")
    meta(name="author" content="Melnikov Sergey")
    title UBER course
    link(rel="stylesheet" href="css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="css/main.css")
body
    header
        nav
            .container
                ul.menu
                    li.menu_item
                        a.menu_link(href="#") Главная
                    li.menu_item
                        a.menu_link(href="#") Со своим автомобилем
                    li.menu_item
                        a.menu_link(href="#") На автомобиле компании
                    li.menu_item
                        a.menu_link(href="#") Требования
                    li.menu_item
                        a.menu_link(href="#") Контакты
                    li.menu_item
                        a.menu_link(href="#") Оставить заявку
        .subheader
            .container
                .row
                    .col-md-4.offset-md-1
                        a.subheader_logo(href="#") 
                            img.subheader_logo(src="img/logo.png", alt="Logo")
                        .subheader_official Официальный партнер Uber в Москве
                    .col-md-2.offset-md-2
                        .subheader_call Звоните нам ежедневно
                        a.subheader_phone(href="tel:+74957970988") 8 495 797 09 88
                    .col-md-2
                        button.subheader_btn заказать звонок
        .promo
            .container
                .row
                    .col-md-10.offset-md-1
                        h1.promo_header КОМПАНИЯ UBER PARTNERS
                        h2.promo_subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
                        p.promo_descr Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.<br><br>Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас зарабатывают от 80000- 120000 в месяц.
                        button.promo_btn ОТПРАВИТЬ ЗАЯВКУ!


        
            
