doctype html
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Uber")
    meta(name="author" content="Melnikov Sergey")
    title UBER course
    link(rel="stylesheet" href="css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
body
    header
        nav
            .container
                ul.menu
                    li.menu_item
                        a.menu_link(href="#") Главная
                    li.menu_item
                        a.menu_link(href="#") Со своим автомобилем
                    li.menu_item
                        a.menu_link(href="#") На автомобиле компании
                    li.menu_item
                        a.menu_link(href="#") Требования
                    li.menu_item
                        a.menu_link(href="#") Контакты
                    li.menu_item
                        a.menu_link(href="#") Оставить заявку
        .subheader
            .container
                .row
                    .col-md-4.offset-md-1
                        a.subheader_logo(href="#") 
                            img.subheader_logo(src="img/logo.png", alt="Logo")
                        .subheader_official Официальный партнер Uber в Москве
                    .col-md-2.offset-md-2
                        .subheader_call Звоните нам ежедневно
                        a.subheader_phone(href="tel:+74957970988") 8 495 797 09 88
                    .col-md-2
                        button.subheader_btn заказать звонок
    section.promo
        .container
            .row
                .col-md-10.offset-md-1
                    h1.promo_header КОМПАНИЯ UBER PARTNERS
                    h2.promo_subheader ПРИГЛАШАЕМ ВОДИТЕЛЕЙ! НА СВОЕМ АВТО!
                    p.promo_descr Компания UBER  динамически развивающаяся. Компания на рынке занимает лидирующее место среди таксомоторных компаний, Компания абсолютно прозрачная вы можете контролировать все процессы у себя в личном кабинете. Бонуcная система.Помимо выполненной работы по заказам, компания начисляет бонусы за пиковое время.<br><br>Мы одни из партнеров и зарекомендовали себя как одна из лучших команд в городе Москве.  Водители у нас зарабатывают от 80000- 120000 в месяц.
                    button.promo_btn ОТПРАВИТЬ ЗАЯВКУ!

    section.reasons
        .container
            .label преимущества
            h2.reasons_title 8 причин начать работать с нами
            .row
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_1.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Никаких наличных, оплата происходит автоматически
                            p.reasons_text Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_2.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Комиссия 8% + БОНУСЫ
                            p.reasons_text У нас минимальная комиссия и мы выплачиваем бонусы за каждую поездку, некоторые наши конкуренты оставляют бонусы себе. Мы работаем честно и с нами водители зарабатывают больше!
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_3.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Высокий доход с гарантированными выплатами
                            p.reasons_text Мы выплачиваем заработную плату на личную банковскую карту водителя! Вам не нужно оформлять ООО, ИП, платить налоги, подавать декларацию, оплачивать бухгалтерские услуги и ведение банковского счета.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_4.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Работа в удобное время, никаких графиков
                            p.reasons_text Вы просто нажимаете кнопку выйти на линию для начала работы, когда решите закончить, нажимаете выйти с линии. Вы можете подрабатывать только утром, вечером, в выходные или праздничные дни! 
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_5.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Комфортное, прозрачное и простое подключение
                            p.reasons_text Мы подключаем дистанционно и бесплатно, Вам нет необходимости приезжать к нам! Вы присылаете нам копии документов, мы регистрируем Вас и присылаем данные для подключения, через 1-2 дня Вы можете начинать работать!
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_6.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Всегда большое количество заказов
                            p.reasons_text Приложение показывает, где на данный момент больше всего заказов и где действуют повышенные тарифы. У Вас не будет простоя и холостых пробегов. Наши пассажиры всегда приятные и абсолютно неконфликтные люди, которых приятно возить.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_7.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Круглосуточная поддержка
                            p.reasons_text В Uber действует круглосуточная поддержка водителей по электронной почте. Если что-то непонятно, Вы всегда можете задать вопрос через On-line консультацию.
                .col-md-6
                    .reasons_block
                        .reasons_round
                            img(src="icon/reasons/icon_8.png", alt="icon")
                        .reasons_descr
                            h3.reasons_title Без шашечек и наклеек
                            p.reasons_text Вам не нужно менять цвет, устанавливать «шашки» на автомобиль и обклеивать его наклейками.


        
            
